*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: sans-serif;
}
body {
  padding: 0;
  margin: 0;
}
.base {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  gap: 18rem;
  height: 4rem;

  /* border: 2px solid black; */
}
.header-divs {
  width: 10rem;
  /* border: 2px dotted black; */
  flex-grow: 1;
  text-align: center;
}

#second {
  display: flex;
  height: 10rem;
  /* border: 2px dotted black; */
}
#second > div {
  width: 10rem;
  flex-grow: 1;
  /* border: 2px dotted black; */
}
#second :nth-child(2) {
  flex-grow: 3;
}

.hands {
  display: block;
  width: auto;
  height: 6rem;
  margin: 2rem auto;
}
.scissors {
  transform: rotate(-90deg);
}
#round-winner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.third {
  height: 15rem;
  display: flex;

  /* border: 2px solid black; */
}
.third div {
  /* border: 2px dotted black; */
  width: 10rem;
  flex: 1 1 auto;
}
#result {
  flex-grow: 3;
  text-align: center;
}
.score {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score h1 {
  font-size: 6rem;
  font-weight: 500;
  margin: 1rem 0;
}
#result-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20.22rem;
  /* border: 2px solid black; */
}
.fourth button {
  padding: 0.8rem 1.5rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 1rem;
}
.move-button-div {
  width: 100vw;
  display: flex;
  gap: 4rem;
  justify-content: center;
}
.move-buttons {
  height: 10rem;
  width: 10rem;
  /* border: 2px solid hotpink; */
  border-radius: 50%;
  background-color: darkgray;
}
.move-buttons:hover,
.fourth button:hover {
  cursor: pointer;
}
.move-buttons img {
  display: block;
  height: 6rem;
  width: 6rem;
  margin: 2rem auto;
}

.footer {
  height: 3rem;
  /* border: 2px solid black; */
  background-color: aquamarine;
  text-align: center;
}
.footer h4 {
  margin: 1rem 0;
}

/*
This
is
the
hidden
class
*/
.hidden {
  display: none;
}
